[core]
	ignoreCygwinFSTricks = false
	filemode = false
	fileMode = false
	excludesfile = /home/Alex/.gitignore
[color]
	diff = auto
	status = auto
	branch = auto
[apply]
	whitespace = fix
[user]
	name = "Alex D'Andrea"
	email = alex@dandrea.io
[push]
	default = simple
